.order-details {
  width: 380px;
  margin: 40px auto;

  padding: 25px;

  background-color: white;

  border-radius: 18px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

  border: 1px solid #eee;

  transition: transform 0.3s ease;
}

.order-details:hover {
  transform: translateY(-5px);
}

.order-details h2 {
  text-align: center;
  margin-bottom: 20px;

  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.order-details p {
  margin: 14px 0;

  padding: 10px;

  background-color: #f8f8f8;

  border-radius: 8px;
}

.order-details h3 {
  margin-top: 20px;
}
