.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.category {
  color: gray;
  font-size: 14px;
}
.link {
  text-decoration: none;
  color: inherit;
}
